<section class="page-header">
  <h2>Draft Picks for Division <%= @fantasy_league.division %></h2>
</section>
<%=
  Phoenix.LiveView.live_render(
    @conn,
    Ex338Web.DraftPickLive,
    session: %{
      current_user: @current_user,
      draft_picks: @draft_picks,
      fantasy_league: @fantasy_league,
      fantasy_teams: @fantasy_teams
    }
  )
%>
