<%= page_header do %>
  Draft Picks for Division <%= @fantasy_league.division %>
<% end %>
<%=
  live_render(
    @conn,
    Ex338Web.DraftPickLive,
    session: %{
      "current_user_id" => maybe_fetch_current_user_id(@current_user),
      "fantasy_league_id" => @fantasy_league.id,
    }
  )
%>
