<%= render(Ex338Web.LayoutView, "commish_tabs.html", assigns) %>

<.live_component
  module={Ex338Web.Commish.FantasyLeagueLive.FormComponent}
  id={@fantasy_league.id}
  title={@page_title}
  action={@live_action}
  fantasy_league={@fantasy_league}
  return_to={~p"/commish/fantasy_leagues/#{@fantasy_league}/edit"}
>
</.live_component>
