<div class="container">
  <section class="fantasy-league-info">
    <h1><%= @fantasy_league.fantasy_league_name %> Fantasy League<h1>
    <h3>Standings</h3>
  </section>
  <section class="teams-collection">
    <%= render "fantasy_teams_table.html", fantasy_league: @fantasy_league %>
  </section>
</div>
