@charset "UTF-8";
/* This file is for your main application css. */
/* line 4, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  /* line 21, /Users/axelclark/workspace/ex338/web/static/css/base/_buttons.scss */
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  /* line 27, /Users/axelclark/workspace/ex338/web/static/css/base/_buttons.scss */
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    /* line 31, /Users/axelclark/workspace/ex338/web/static/css/base/_buttons.scss */
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

/* line 8, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

/* line 14, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

/* line 20, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

/* line 28, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  /* line 39, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  /* line 43, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  /* line 49, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    /* line 53, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

/* line 59, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 63, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
[type="search"] {
  appearance: none; }

/* line 67, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 73, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

/* line 78, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_layout.scss */
html {
  box-sizing: border-box; }

/* line 5, /Users/axelclark/workspace/ex338/web/static/css/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 8, /Users/axelclark/workspace/ex338/web/static/css/base/_lists.scss */
dl {
  margin: 0; }

/* line 12, /Users/axelclark/workspace/ex338/web/static/css/base/_lists.scss */
dt {
  font-weight: 600;
  margin: 0; }

/* line 17, /Users/axelclark/workspace/ex338/web/static/css/base/_lists.scss */
dd {
  margin: 0; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_media.scss */
figure {
  margin: 0; }

/* line 5, /Users/axelclark/workspace/ex338/web/static/css/base/_media.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
th:not(:first-child) {
  text-align: center; }

/* line 19, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
  text-align: left; }

/* line 25, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
td:not(:first-child) {
  text-align: center; }

/* line 29, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 8, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

/* line 19, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center; }

/* line 28, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h1 {
  font-size: 4.20873em; }

/* line 29, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h2 {
  font-size: 3.15733em; }

/* line 30, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h3 {
  font-size: 2.36859em; }

/* line 31, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h4 {
  font-size: 1.77689em; }

/* line 32, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h5 {
  font-size: 1.333em; }

/* line 33, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 35, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 39, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  /* line 44, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
  a:active, a:focus, a:hover {
    color: #104c90; }

/* line 51, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
body {
  background-color: #fff;
  border-top: none;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px; }

/* line 12, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
img {
  max-width: 100%; }

/* line 16, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
section {
  flex: 1; }

/* line 20, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
.content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  max-width: 1100px;
  padding: 1.5em 1em 3em;
  width: 100%; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .content::after {
    clear: both;
    content: "";
    display: block; }

/* line 28, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
.page-header {
  margin-bottom: 50px; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  /* line 28, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999; }
    /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  /* line 34, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    /* line 40, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  /* line 48, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 900px) {
      /* line 48, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .navigation-menu-button {
        display: none; } }
    /* line 62, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  /* line 70, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 900px) {
      /* line 70, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation nav {
        float: left; } }
  /* line 80, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    /* line 89, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 900px) {
      /* line 80, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  /* line 102, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 900px) {
      /* line 102, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    /* line 120, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 900px) {
        /* line 120, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      /* line 129, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white; }
  /* line 136, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  /* line 143, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 900px) {
      /* line 143, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    /* line 150, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    /* line 154, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    /* line 158, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    /* line 162, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(255, 255, 255, 0.7);
      content: "\25BE"; }
  /* line 169, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    /* line 173, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more a {
      padding-right: 0.8em; }
    /* line 177, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 900px) {
        /* line 177, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation li.more > a {
          margin-right: 1em; } }
      /* line 185, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    /* line 193, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more:focus > .submenu,
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 900px) {
      /* line 169, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  /* line 204, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 900px) {
      /* line 204, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 900px) {
      /* line 214, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      /* line 221, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      /* line 228, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    /* line 235, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 900px) {
        /* line 235, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          /* line 242, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          /* line 247, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      /* line 254, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 900px) {
          /* line 254, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  /* line 272, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 900px) {
      /* line 272, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  /* line 287, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%; }
    /* line 296, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation .search-bar form {
      position: relative; }
      /* line 299, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .search-bar form input[type=search] {
        background: #404040;
        border: 1px solid #262626;
        border-radius: 6px;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 900px) {
          /* line 299, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      /* line 316, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .search-bar form button[type=submit] {
        background: #404040;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em; }
        /* line 327, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 900px) {
      /* line 287, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em; }
        /* line 340, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation .search-bar input {
          box-sizing: border-box;
          display: block; } }

/* line 26, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
.flash-alert {
  background-color: #fff6bf;
  color: #8c7800;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  /* line 16, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
  .flash-alert a {
    color: #594c00; }
    /* line 19, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
    .flash-alert a:focus, .flash-alert a:hover {
      color: black; }

/* line 30, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
.flash-error {
  background-color: #fbe3e4;
  color: #97161b;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  /* line 16, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
  .flash-error a {
    color: #6a0f13; }
    /* line 19, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
    .flash-error a:focus, .flash-error a:hover {
      color: #110203; }

/* line 34, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
.flash-notice {
  background-color: #e5edf8;
  color: #244e87;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  /* line 16, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
  .flash-notice a {
    color: #19375f; }
    /* line 19, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
    .flash-notice a:focus, .flash-notice a:hover {
      color: #04080e; }

/* line 38, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
.flash-success {
  background-color: #e6efc2;
  color: #56651a;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  /* line 16, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
  .flash-success a {
    color: #333c10; }
    /* line 19, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
    .flash-success a:focus, .flash-success a:hover {
      color: black; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_teams.scss */
.fantasy-teams-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* line 6, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_teams.scss */
.fantasy-teams-collection {
  flex: 1;
  min-width: 350px;
  padding: 20px; }

/* line 13, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_teams.scss */
.fantasy-teams-table td,
.fantasy-teams-table th {
  padding: 1px;
  font-size: 0.75em;
  text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_players.scss */
.available-fantasy-players-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* line 6, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_players.scss */
.sports-league-players {
  flex: 1;
  min-width: 350px;
  padding: 20px; }

/* line 12, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_players.scss */
.available-fantasy-players-table td,
.available-fantasy-players-table th {
  padding: 1px;
  font-size: 0.75em;
  text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

/* line 6, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-collection {
  flex: 1;
  min-width: 350px;
  padding: 20px; }

/* line 13, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-table td,
.draft-picks-table th {
  padding: 1px;
  font-size: 0.75em; }

/* line 18, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-table th {
  text-align: left; }

/* line 21, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-table td {
  text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_roster_transactions.scss */
.transactions-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* line 7, /Users/axelclark/workspace/ex338/web/static/css/_roster_transactions.scss */
.transactions-container {
  flex: 1;
  max-width: 900px;
  min-width: 350px;
  padding: 20px; }

/* line 14, /Users/axelclark/workspace/ex338/web/static/css/_roster_transactions.scss */
.transactions-table {
  table-layout: auto; }
  /* line 17, /Users/axelclark/workspace/ex338/web/static/css/_roster_transactions.scss */
  .transactions-table td,
  .transactions-table th {
    padding: 4px; }
  /* line 22, /Users/axelclark/workspace/ex338/web/static/css/_roster_transactions.scss */
  .transactions-table th {
    text-align: left; }
  /* line 27, /Users/axelclark/workspace/ex338/web/static/css/_roster_transactions.scss */
  .transactions-table td {
    text-align: left; }


/*# sourceMappingURL=app.css.map*/