@charset "UTF-8";
/* This file is for your main application css. */
/* line 4, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  /* line 21, /Users/axelclark/workspace/ex338/web/static/css/base/_buttons.scss */
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #11519a;
    color: #fff; }
  /* line 27, /Users/axelclark/workspace/ex338/web/static/css/base/_buttons.scss */
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    /* line 31, /Users/axelclark/workspace/ex338/web/static/css/base/_buttons.scss */
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #1565c0; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

/* line 8, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

/* line 14, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

/* line 20, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

/* line 28, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  /* line 39, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  /* line 43, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  /* line 49, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    /* line 53, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

/* line 59, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
textarea {
  resize: vertical; }

/* line 63, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
[type="search"] {
  appearance: none; }

/* line 67, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 73, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

/* line 78, /Users/axelclark/workspace/ex338/web/static/css/base/_forms.scss */
select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_layout.scss */
html {
  box-sizing: border-box; }

/* line 5, /Users/axelclark/workspace/ex338/web/static/css/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 8, /Users/axelclark/workspace/ex338/web/static/css/base/_lists.scss */
dl {
  margin: 0; }

/* line 12, /Users/axelclark/workspace/ex338/web/static/css/base/_lists.scss */
dt {
  font-weight: 600;
  margin: 0; }

/* line 17, /Users/axelclark/workspace/ex338/web/static/css/base/_lists.scss */
dd {
  margin: 0; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_media.scss */
figure {
  margin: 0; }

/* line 5, /Users/axelclark/workspace/ex338/web/static/css/base/_media.scss */
img,
picture {
  margin: 0;
  max-width: 100%; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
th:not(:first-child) {
  text-align: center; }

/* line 19, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
  text-align: left; }

/* line 25, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
td:not(:first-child) {
  text-align: center; }

/* line 29, /Users/axelclark/workspace/ex338/web/static/css/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 8, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

/* line 19, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center; }

/* line 28, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h1 {
  font-size: 4.20873em; }

/* line 29, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h2 {
  font-size: 3.15733em; }

/* line 30, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h3 {
  font-size: 2.36859em; }

/* line 31, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h4 {
  font-size: 1.77689em; }

/* line 32, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h5 {
  font-size: 1.333em; }

/* line 33, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
h6 {
  font-size: 1em; }

/* line 35, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
p {
  margin: 0 0 0.75em; }

/* line 39, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  /* line 44, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
  a:active, a:focus, a:hover {
    color: #104c90; }

/* line 51, /Users/axelclark/workspace/ex338/web/static/css/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
body {
  background-color: #fff;
  border-top: none;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px; }

/* line 12, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
img {
  max-width: 100%; }

/* line 16, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
section {
  flex: 1; }

/* line 20, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
.content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  max-width: 1100px;
  padding: 1.5em 1em 3em;
  width: 100%; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .content::after {
    clear: both;
    content: "";
    display: block; }

/* line 28, /Users/axelclark/workspace/ex338/web/static/css/layout/_body.scss */
.page-header {
  margin-bottom: 50px; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  min-height: 60px;
  width: 100%;
  z-index: 999; }
  /* line 28, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .navigation-wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999;
    max-width: 1100px; }
    /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
    /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
    header.navigation .navigation-wrapper::after {
      clear: both;
      content: "";
      display: block; }
  /* line 36, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    /* line 42, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation .logo img {
      max-height: 60px;
      padding: 0.8em 0; }
  /* line 50, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 900px) {
      /* line 50, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .navigation-menu-button {
        display: none; } }
    /* line 64, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
      color: white; }
  /* line 72, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999; }
    @media screen and (min-width: 900px) {
      /* line 72, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation nav {
        float: left; } }
  /* line 82, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    /* line 91, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation ul.navigation-menu.show {
      display: block; }
    @media screen and (min-width: 900px) {
      /* line 82, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  /* line 104, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 900px) {
      /* line 104, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    /* line 122, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      text-decoration: none; }
      @media screen and (min-width: 900px) {
        /* line 122, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      /* line 131, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
        color: white; }
    /* line 137, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation ul li.nav-link form {
      display: inline-block; }
      @media screen and (min-width: 900px) {
        /* line 137, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation ul li.nav-link form {
          padding-right: 1em; } }
      /* line 144, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul li.nav-link form:focus, header.navigation ul li.nav-link form:hover {
        color: white; }
  /* line 151, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  /* line 158, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 900px) {
      /* line 158, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    /* line 165, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    /* line 169, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    /* line 173, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    /* line 177, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more.nav-link > a::after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      color: rgba(255, 255, 255, 0.7);
      content: "\25BE"; }
  /* line 184, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    /* line 188, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more a {
      padding-right: 0.8em; }
    /* line 192, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 900px) {
        /* line 192, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation li.more > a {
          margin-right: 1em; } }
      /* line 200, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation li.more > a::after {
        content: "›";
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    /* line 208, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation li.more:focus > .submenu,
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 900px) {
      /* line 184, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation li.more {
        padding-right: 0.8em;
        position: relative; } }
  /* line 219, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 900px) {
      /* line 219, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 900px) {
      /* line 229, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu .submenu.fly-out-right {
        left: 11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      /* line 236, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu .submenu.fly-out-left {
        left: -11.8em;
        top: 0; } }
    @media screen and (min-width: 900px) {
      /* line 243, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    /* line 250, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 900px) {
        /* line 250, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          /* line 257, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px; }
          /* line 262, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 0.7em; } }
      /* line 269, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 900px) {
          /* line 269, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  /* line 287, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px; }
    @media screen and (min-width: 900px) {
      /* line 287, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right; } }
  /* line 302, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
  header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%; }
    /* line 311, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
    header.navigation .search-bar form {
      position: relative; }
      /* line 314, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .search-bar form input[type=search] {
        background: #404040;
        border: 1px solid #262626;
        border-radius: 6px;
        box-sizing: border-box;
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.9em;
        font-style: italic;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%; }
        @media screen and (min-width: 900px) {
          /* line 314, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
          header.navigation .search-bar form input[type=search] {
            width: 100%; } }
      /* line 331, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .search-bar form button[type=submit] {
        background: #404040;
        border: 0;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em; }
        /* line 342, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation .search-bar form button[type=submit] img {
          height: 12px;
          opacity: 0.7;
          padding: 1px; }
    @media screen and (min-width: 900px) {
      /* line 302, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
      header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em; }
        /* line 355, /Users/axelclark/workspace/ex338/web/static/css/layout/_header.scss */
        header.navigation .search-bar input {
          box-sizing: border-box;
          display: block; } }

/* line 26, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
.flash-alert {
  background-color: #fff6bf;
  color: #8c7800;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  /* line 16, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
  .flash-alert a {
    color: #594c00; }
    /* line 19, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
    .flash-alert a:focus, .flash-alert a:hover {
      color: black; }

/* line 30, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
.flash-error {
  background-color: #fbe3e4;
  color: #97161b;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  /* line 16, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
  .flash-error a {
    color: #6a0f13; }
    /* line 19, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
    .flash-error a:focus, .flash-error a:hover {
      color: #110203; }

/* line 34, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
.flash-notice {
  background-color: #e5edf8;
  color: #244e87;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  /* line 16, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
  .flash-notice a {
    color: #19375f; }
    /* line 19, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
    .flash-notice a:focus, .flash-notice a:hover {
      color: #04080e; }

/* line 38, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
.flash-success {
  background-color: #e6efc2;
  color: #56651a;
  display: block;
  font-weight: 600;
  margin-bottom: 0.75em;
  padding: 0.75em;
  text-align: center; }
  /* line 16, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
  .flash-success a {
    color: #333c10; }
    /* line 19, /Users/axelclark/workspace/ex338/web/static/css/refills/_flashes.scss */
    .flash-success a:focus, .flash-success a:hover {
      color: black; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
.breadcrumb {
  margin-bottom: 1.5em;
  text-align: left;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding-left: 1em; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .breadcrumb::after {
    clear: both;
    content: "";
    display: block; }
  /* line 27, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
  .breadcrumb a {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: 0;
    color: #999;
    display: inline-block;
    font-size: 0.8em;
    line-height: 2.25em;
    margin-bottom: 2px;
    margin-right: -5px;
    padding: 0 0.5625em 0 1.125em;
    position: relative;
    text-decoration: none; }
    /* line 41, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
    .breadcrumb a:first-child {
      border-bottom-left-radius: 3px;
      border-left: 1px solid #ddd;
      border-top-left-radius: 3px;
      padding-left: 1.125em; }
    /* line 48, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
    .breadcrumb a:last-child {
      background-color: #fff;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      color: #999;
      padding-right: 1.125em; }
    /* line 56, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
    .breadcrumb a:focus, .breadcrumb a:hover {
      background-color: #fff;
      color: #1565c0; }
    /* line 62, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
    .breadcrumb a::after, .breadcrumb a::before {
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 100%;
      border-bottom: 1.125em solid transparent;
      border-left: 0.5625em solid transparent;
      border-top: 1.125em solid transparent;
      content: "";
      display: block;
      margin: auto;
      z-index: 2; }
    /* line 74, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
    .breadcrumb a:last-child::after, .breadcrumb a:last-child::before {
      border: 0; }
    /* line 79, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
    .breadcrumb a::before {
      border-left-color: #ddd;
      margin-left: 1px;
      z-index: 1; }
    /* line 85, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
    .breadcrumb a::after {
      border-left-color: #fff; }
    @media screen and (min-width: 600px) {
      /* line 27, /Users/axelclark/workspace/ex338/web/static/css/refills/_breadcrumb.scss */
      .breadcrumb a {
        font-size: 1em;
        padding: 0 1.125em 0 1.5em; } }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_teams.scss */
.fantasy-teams-container {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .fantasy-teams-container::after {
    clear: both;
    content: "";
    display: block; }
  /* line 10, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_teams.scss */
  .fantasy-teams-container .fantasy-team-collection {
    align-self: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
    display: block;
    flex: 2 2 15em;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    min-width: 320px; }
  /* line 25, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_teams.scss */
  .fantasy-teams-container .fantasy-team-table td,
  .fantasy-teams-container .fantasy-team-table th {
    padding: 1px;
    font-size: 0.75em;
    text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_players.scss */
.fantasy-players-container {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  nt: space-between; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .fantasy-players-container::after {
    clear: both;
    content: "";
    display: block; }
  /* line 10, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_players.scss */
  .fantasy-players-container .fantasy-player-collection {
    align-self: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
    display: block;
    flex: 2 2 15em;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    min-width: 320px; }
  /* line 24, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_players.scss */
  .fantasy-players-container .fantasy-player-table td,
  .fantasy-players-container .fantasy-player-table th {
    padding: 1px;
    font-size: 0.75em;
    text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-container {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .draft-picks-container::after {
    clear: both;
    content: "";
    display: block; }

/* line 11, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-collection {
  align-self: stretch;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
  display: block;
  flex: 2 2 15em;
  margin: 0.4em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  min-width: 320px; }

/* line 27, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-table td,
.draft-picks-table th {
  padding: 1px;
  font-size: 0.75em; }
  @media screen and (min-width: 900px) {
    /* line 27, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
    .draft-picks-table td,
    .draft-picks-table th {
      font-size: 1em; } }

/* line 36, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-table th {
  text-align: left; }

/* line 39, /Users/axelclark/workspace/ex338/web/static/css/_draft_picks.scss */
.draft-picks-table td {
  text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_leagues.scss */
.standings-container {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .standings-container::after {
    clear: both;
    content: "";
    display: block; }

/* line 11, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_leagues.scss */
.standings-collection {
  align-self: stretch;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
  display: block;
  flex: 2 2 15em;
  margin: 0.4em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  min-width: 320px; }

/* line 27, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_leagues.scss */
.standings-table td,
.standings-table th {
  padding: 5px;
  font-size: 0.75em; }
  @media screen and (min-width: 900px) {
    /* line 27, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_leagues.scss */
    .standings-table td,
    .standings-table th {
      font-size: 1em; } }

/* line 36, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_leagues.scss */
.standings-table td:nth-child(2) {
  text-align: left; }

/* line 39, /Users/axelclark/workspace/ex338/web/static/css/_fantasy_leagues.scss */
.standings-table th:nth-child(2) {
  text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_waivers.scss */
.waivers-container {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .waivers-container::after {
    clear: both;
    content: "";
    display: block; }

/* line 11, /Users/axelclark/workspace/ex338/web/static/css/_waivers.scss */
.waivers-collection {
  align-self: stretch;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
  display: block;
  flex: 2 2 15em;
  margin: 0.4em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  min-width: 320px; }
  /* line 24, /Users/axelclark/workspace/ex338/web/static/css/_waivers.scss */
  .waivers-collection h5:last-of-type {
    margin-top: 3em; }

/* line 31, /Users/axelclark/workspace/ex338/web/static/css/_waivers.scss */
.waiver-table td,
.waiver-table th {
  padding: 1px;
  font-size: 0.75em; }
  @media screen and (min-width: 900px) {
    /* line 31, /Users/axelclark/workspace/ex338/web/static/css/_waivers.scss */
    .waiver-table td,
    .waiver-table th {
      font-size: 1em; } }

/* line 40, /Users/axelclark/workspace/ex338/web/static/css/_waivers.scss */
.waiver-table th {
  text-align: left; }

/* line 43, /Users/axelclark/workspace/ex338/web/static/css/_waivers.scss */
.waiver-table td {
  text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_owners.scss */
.owners-container {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .owners-container::after {
    clear: both;
    content: "";
    display: block; }

/* line 11, /Users/axelclark/workspace/ex338/web/static/css/_owners.scss */
.owners-collection {
  align-self: stretch;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
  display: block;
  flex: 2 2 15em;
  margin: 0.4em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  min-width: 320px; }

/* line 27, /Users/axelclark/workspace/ex338/web/static/css/_owners.scss */
.owner-table td,
.owner-table th {
  padding: 1px;
  font-size: 0.75em; }
  @media screen and (min-width: 900px) {
    /* line 27, /Users/axelclark/workspace/ex338/web/static/css/_owners.scss */
    .owner-table td,
    .owner-table th {
      font-size: 1em; } }

/* line 36, /Users/axelclark/workspace/ex338/web/static/css/_owners.scss */
.owner-table th {
  text-align: left; }

/* line 39, /Users/axelclark/workspace/ex338/web/static/css/_owners.scss */
.owner-table td {
  text-align: left; }

/* line 1, /Users/axelclark/workspace/ex338/web/static/css/_trades.scss */
.trades-container {
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  /* line 20, /Users/axelclark/workspace/ex338/node_modules/bourbon-neat/app/assets/stylesheets/mixins/_clearfix.scss */
  .trades-container::after {
    clear: both;
    content: "";
    display: block; }

/* line 10, /Users/axelclark/workspace/ex338/web/static/css/_trades.scss */
.trades-collection {
  align-self: stretch;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: inset 0 0 1px #ddd, 0 2px 4px #e6e6e6;
  display: block;
  flex: 2 2 15em;
  margin: 0.4em;
  padding: 2em 2em 3em 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  min-width: 320px; }

/* line 25, /Users/axelclark/workspace/ex338/web/static/css/_trades.scss */
.trade-table td,
.trade-table th {
  padding: 1px;
  font-size: 0.75em; }
  @media screen and (min-width: 900px) {
    /* line 25, /Users/axelclark/workspace/ex338/web/static/css/_trades.scss */
    .trade-table td,
    .trade-table th {
      font-size: 1em; } }

/* line 34, /Users/axelclark/workspace/ex338/web/static/css/_trades.scss */
.trade-table th {
  text-align: left; }

/* line 37, /Users/axelclark/workspace/ex338/web/static/css/_trades.scss */
.trade-table td {
  text-align: left;
  vertical-align: top; }

/* line 1, /Users/axelclark/workspace/ex338/_pages.scss */
span.highlight {
  background-color: yellow; }


/*# sourceMappingURL=app.css.map*/