<%= page_header class: "sm:mb-6" do %>
  <%= @fantasy_league.year %> Championships
<% end %>

<%= render "table.html", championships: filter_category(@championships, "overall"), conn: @conn, fantasy_league: @fantasy_league %>

<%= section_header do %>
  Championship Events
<% end %>

<%= render "table.html", championships: filter_category(@championships, "event"), conn: @conn, fantasy_league: @fantasy_league %>
