language: elixir
elixir: 1.9.1
otp_release: 22.0.7
sudo: false

addons:
  postgresql: '9.4'

services:
  - redis-server

cache:
  directories:
    - _build
    - deps

env:
  - MIX_ENV=test

script:
  - mix ecto.create
  - mix ecto.migrate
  - mix run priv/repo/seeds.exs
  - mix run priv/repo/user_seeds.exs
  - mix run priv/repo/dev_seeds.exs
  - mix ecto.drop
  - mix ecto.create
  - mix test --exclude integration
