<%= render "form.html", changeset: @changeset,
                        conn: @conn,
                        action: Routes.fantasy_team_waiver_path(@conn, :create, @fantasy_team.id),
                        avail_players: @avail_players,
                        fantasy_team: @fantasy_team,
                        owned_players: @owned_players %>
