<%= if notice = get_flash(@conn, :info) do %>
  <p class="flash-notice" role="alert"><%= notice %></p>
<% end %>

<%= if notice = get_flash(@conn, :error) do %>
  <p class="flash-error" role="alert"><%= notice %></p>
<% end %>
