<!DOCTYPE html>
<html lang="en">

  <%= render "head.html", assigns %>

  <body>
    <div class="container">
      <%= render "header.html", assigns %>
      <%= render "alert.html", assigns %>

      <main role="main" class="content">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
