<div>
  <%= page_header class: "sm:mb-6" do %>
    Standings
  <% end %>

  <div class="flex flex-col">
    <%= render "fantasy_teams_table.html",
      fantasy_league: @fantasy_league,
      fantasy_teams:  @fantasy_teams,
      conn: @conn %>

  </div>
</div>
