nav {
  background-color: $primary-color;

  .nav-container {
    @include outer-container;
  }
    
  ul {
    max-width: $max-width;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: $secondary-color;
    color: white;
  }
  .user {
    padding: 14px 16px;
    color: white;
  }
  form {
    padding: 7px 8px;
  }
}
