<%= if notice = live_flash(@flash, :info) do %>
    <%= render "alert_live_info.html", notice: notice %>
<% end %>

<%= if notice = live_flash(@flash, :error) do %>
  <%= render "alert_live_error.html", notice: notice %>
<% end %>
