<%= if notice = get_flash(@conn, :info) do %>
  <%= render "alert_info.html", notice: notice %>
<% end %>

<%= if notice = get_flash(@conn, :error) do %>
  <%= render "alert_error.html", notice: notice %>
<% end %>
