<div class="border-b border-gray-300">
  <nav class="flex -mb-px">
    <%= commish_tab_link @current_route, ~p"/commish/fantasy_leagues/#{@fantasy_league}/approvals" do %>
      Process Actions
    <% end %>
    <%= commish_tab_link @current_route, ~p"/commish/fantasy_leagues/#{@fantasy_league}/edit" do %>
      Edit League
    <% end %>
    </a>
  </nav>
</div>
