<%= if assigns[:fantasy_league] || assigns[:page_title] do %>
  <header>
    <div class="max-w-5xl mx-auto px-4 sm:px-6 md:px-8 pb-6">
      <h1 class="text-2xl font-semibold text-gray-900">
        <%= if assigns[:fantasy_league] do %>
          <%= @fantasy_league.fantasy_league_name %>
        <% else %>
          <%= @page_title %>
        <% end %>
      </h1>
    </div>
  </header>
<% end %>
