<h2>Submit New Player For Queue</h2>

<p><strong>Fantasy Team: </strong><%= @fantasy_team.team_name %></p>

<%= render "form.html", changeset: @changeset,
                        available_players: @available_players,
                        action: Routes.fantasy_team_draft_queue_path(@conn, :create, 
                        @fantasy_team.id)
%>

<%= link "Back", to: Routes.fantasy_team_path(@conn, :show, @fantasy_team.id) %>
