.draft-picks-container {
  @extend .flex-container;
}

.draft-picks-collection {
  @extend .flex-collection;
}

.draft-picks-table {
  @extend .flex-table;

  .overall-pick {
    display: none;

    @include media ($medium-screen) {
      display: table-cell;
    }
  }
}

.draft-summary-table {
  @extend .flex-table;
  margin-bottom: 2em;

  th,
  td {
    text-align: center;
  }

  th:nth-child(1) {
    text-align: left;
  }

  td:nth-child(1) {
    text-align: left;
  }
}
