.standings-container {
  @extend .flex-container;

}
.standings-collection {
  @extend .flex-collection;

}
.standings-table {
  @extend .flex-table;

  td,
  th {
    padding: 5px;
    text-align: center;
  }

  td:nth-child(1),
  th:nth-child(1),
  td:nth-child(2),
  th:nth-child(2) {
    text-align: left;
  }
}

.standings-chart {
  padding-top: 2em;
}
