.sport-filter-container {
  display: flex;
  justify-content: center;
}

.fantasy-players-container {
  @extend .flex-container;

  .fantasy-player-collection {
    @extend .flex-collection;
    max-width: 400px;
  }
  .fantasy-player-table {
    @extend .flex-table;

    td,
    th {

      @include media ($large-screen) {
        font-size: $small-font-size;
      }
    }

    .ranked {
      font-weight: bold;
    }
  }
}
