.fantasy-teams-container {
  @extend .flex-container;

  .fantasy-team-collection {
    @extend .flex-collection;
    max-width: 400px;
  }

  .fantasy-team-table {
    @extend .flex-table;

    td,
    th {

      @include media ($large-screen) {
        font-size: $small-font-size;
      }
    }

    td:nth-child(4),
    th:nth-child(4) {
      text-align: right;
    }
  }
}

.fantasy-team-container {
  @extend .flex-container;


  .players-collection {
    @extend .flex-collection;

    .fantasy-team-table {
      @extend .flex-table;

      td,
      th {
        padding: 5px;
      }

      td:nth-child(4),
      th:nth-child(4) {
        text-align: right;
      }

      th.points,
      td.points {
        text-align: right;
      }

      th.rank,
      td.rank {
        text-align: left;
      }
    }

    .draft-queue-table {
      @extend .flex-table;
    }

    p {
      text-align: left;
    }
  }
}


td.points-0 {
  color: $medium-gray;
}

.dues {
  display: none;
  @include media ($medium-screen) {
    display: table-cell;
  }
}
