span.highlight {
    background-color: yellow;
}

.historical-records {
  table {
    width: auto;
    margin: $small-spacing 0;
    table-layout: fixed;
    border-collapse: collapse;
  }

  table:first-child {
    width: 100%;
  }

  td,
  th {
    padding: $small-spacing;
    font-size: $small-font-size;
    text-align: left;

    @include media ($large-screen) {
      font-size: $base-font-size;
    }
  }

  th {
    font-weight: 600;
    color: transparentize(#fff, .3);
    background-color: #333;
    border: 1px solid shade($base-border-color, 25%);
  }

  td {
    font-weight: normal;
    border: $base-border;
  }
}
