.waivers-container {
  @extend .flex-container;
}

.waivers-collection {
  @extend .flex-collection;

  h5:last-of-type {
    margin-top: 3em;
  }

  p {
    text-align: left;
  }
}

.waiver-table {
  @extend .flex-table;
}
