/* This file is for your main application css. */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../node_modules/nprogress/nprogress.css";

@import "live_view.css";

[x-cloak] { display: none; }
