.draft-picks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.draft-picks-collection {
  flex: 1;
  min-width: 350px;
  padding: 20px;
}
.draft-picks-table {
  
  td,
  th {
    padding: 1px;
    font-size: $small-font-size
  }
  th {
    text-align: left;
  }
  td {
    text-align: left;
  }
}
