.fantasy-teams-container {
  @include clearfix;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  .fantasy-team-collection {
    align-self: stretch;
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    flex: 2 2 15em;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    min-width: 320px;
  }
  .fantasy-team-table {

    td,
    th {
      padding: 1px;
      font-size: $small-font-size;
      text-align: left;
    }
  }
}
.fantasy-team-container {
  @include clearfix;
  align-items: stretch;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;


  .players-collection {
    align-self: stretch;
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    flex: 2 2 15em;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    min-width: 320px;


    .fantasy-team-table {
      td,
      th {
        padding: 5px;
        font-size: $small-font-size;
        text-align: left;

        @include media ($large-screen) {
          font-size: $base-font-size;
        }
      }
    }
    p {
      text-align: left;
    }
  }
}
.dues {
  display: none;
  @include media ($medium-screen) {
    display: table-cell;
  }
}


