<section class="page-header">
  <h2>Waivers for Division <%= @fantasy_league.division %></h2>
</section>

<section class="waivers-container">
  <div class="waivers-collection">
    <h5>Pending Approval</h5>
    <%= render "table.html", waivers: @waivers, status: "Pending" %>
    <h5>Successful Claims</h4>
    <%= render "table.html", waivers: @waivers, status: "Successful" %>
  </div>
</section>
