<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "the 338 Challenge!" %></h2>
  <h4>League-wide Announcements</h4>
  <br>
  <p>
    League messsages, trash talk, trade discussions, etc. are done in the Slack channel.  <b>Click
      <a href=<%= Application.get_env(:ex338, :slack_invite_url) %>>here</a> to request a Slack invite.<b>
  </p>
</div>
