<table >
  <thead>
    <tr>
      <th>Single Season Records<br>(14-team leagues only)</th>
      <th>Record</th>
      <th>Team</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <%= for record <- @season_records do %>
      <tr>
        <td><%= record.description %></td>
        <td><%= record.record %></td>
        <td><%= record.team %></td>
        <td><%= record.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
