<h2>Update Fantasy Team</h2>

<%= render "form.html", changeset: @changeset, fantasy_team: @fantasy_team,
                        action: fantasy_team_path(@conn, :update, @fantasy_team) %>

<%= link "Back", to: fantasy_team_path(@conn, :show, @fantasy_team.id) %>
