<section class="page-header">
  <h2>Fantasy Teams for Division <%= @fantasy_league.division %></h2>
</section>

<section class="fantasy-teams-container">
  <%= for fantasy_team <- @fantasy_teams do %>
    <div class="fantasy-team-collection">
      <h5><%= link fantasy_team.team_name, 
            to: fantasy_team_path(@conn, :show, fantasy_team.id) %></h5>
      <%= render "table.html", fantasy_team: fantasy_team %>
    </div>
  <% end %>
</section>
