<div class="fantasy-team-collection">
  <h5>
    <%= link @fantasy_team.team_name, 
        to: fantasy_team_path(@conn, :show, @fantasy_team.id) %>
  </h5>
  <%= render "roster_positions_table.html", fantasy_team: @fantasy_team %>
  <%= render "champ_with_events_table.html", fantasy_team: @fantasy_team %>
</div>
