<div class="fantasy-team-collection">
  <h5>
    <%= fantasy_team_link(@conn, @fantasy_team) %>
  </h5>
  <%= render "roster_positions_table.html", fantasy_team: @fantasy_team %>
  <h6>Multi-Event Sports</h6>
  <%= render "champ_with_events_table.html", fantasy_team: @fantasy_team %>
  <%= render "champ_slots_table.html", fantasy_team: @fantasy_team %>
</div>
