<section class="page-header">
  <h2>Listing Draft Picks for Division <%= @fantasy_league.division %></h2>
</section>

<section class="draft-picks-container">
  <div class="draft-picks-collection">
    <%= render "table.html", draft_picks: @draft_picks %>
  </div>
</section>
