<div class="md:max-w-md <%= assigns[:class] %>">
  <div class="py-2 -my-2 overflow-visible sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg">
      <table class="min-w-full">
        <%= @inner_content %>
      </table>
    </div>
  </div>
</div>
