<p><%= @draft_pick.fantasy_team.team_name %> selected <%= @draft_pick.fantasy_player.player_name %>!</p>

<p>Visit the <%= @league.fantasy_league_name %> <%= link "draft page", to: Ex338Web.Endpoint.url() <> "/fantasy_leagues/#{@league.id}/draft_picks" %> to see all picks or make your pick.</p>

<h3>Latest Picks:</h3>
<%= render "draft_table.html", draft_picks: @last_picks %>
<h3>Next Up:</h3>
<%= render "draft_table.html", draft_picks: @next_picks %>
