<table>
  <thead>
    <tr>
      <th>Losing Team</th>
      <th>Fantasy Player</th>
      <th>Gaining Team</th>
    </tr>
  </thead>
  <tbody>
    <%= for line_item <- @trade.trade_line_items do %>
      <tr>
        <td>
          <%= line_item.gaining_team.team_name %>
        </td>
        <td>
          <%= display_player(line_item.fantasy_player) %>
        </td>
        <td>
          <%= line_item.losing_team.team_name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
